.container{
    padding: 0 32px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-60%);
}
ion-text{
    letter-spacing: 2px;
}
ion-button{
    --ion-color-light-contrast: var(--ion-color-primary-shade);
    margin: 48px 0 0 0;
    height: 40px;
}