ion-content {
    --background: #cacaca;
    --padding-bottom: 16px;
    --padding-start: 32px;
    --padding-end: 32px;
}
ion-card-content {
    p {
        font-size: 13px;
    }
}
.summery {
    background: #e5e7eb;
    border: 2px solid #aaa;
    border-radius: 5px;
    padding: 6px;
    font-size: 13px;
}
ion-alert {
    --ion-color-step-600: #000;
}
ion-label {
    display: block;
    &:not(.action-title) {
        margin-bottom: 8px;
    }
    &.action-title {
        margin-bottom: 16px;
    }
}
ion-text {
    display: flex;
    margin-bottom: 8px;
    p {
        margin: 0;
    }
    .nanotech-icon {
        margin-left: 6px;
    }
}
ion-spinner {
    margin: 0 auto;
    display: block;
}