<ion-content>
  <ion-card class="ion-no-margin" *ngIf="actionData;else loadingTemplate">
    <ion-card-content>
      <ion-label class="fw-bold action-title" color="primary">پروژه 1</ion-label>
      <div>
        <ion-text>
          <i class="nanotech-icon nanotech-icon-user"></i>
          <p>{{actionData.idrClientName}}</p>
        </ion-text>
        <ion-text>
          <i class="nanotech-icon nanotech-icon-arrow-left"></i>
          <p>نوع فعالیت: آموزش و نصب</p>
        </ion-text>
        <ion-text>
          <i class="nanotech-icon nanotech-icon-location"></i>
          <p>مکان: {{actionData.servicePlaceAddr}}</p>
        </ion-text>
      </div>
      <ion-label class="fw-bold ion-margin-top">شرح فعالیت</ion-label>
      <div class="summery" [ngClass]="{ 'ion-margin-bottom': !assignedItem }">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <ng-container *ngIf="!assignedItem">
        <ion-button [color]="(hasActionStarted) ? 'medium' : 'primary'" expand="block" class="ion-no-margin ion-margin-bottom" [disabled]="hasActionStarted" (click)="isAlertOpen=true">شروع به انجام کار</ion-button>
        <ion-button [color]="(hasActionStarted) ? 'primary' : 'medium'" expand="block" class="ion-no-margin" [routerLink]="(hasActionStarted) ? '/tabs/score' : null" routerDirection="forward" [disabled]="!hasActionStarted">پایان پروژه</ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>
<ng-template #loadingTemplate>
  <ion-spinner name="circles" color="primary" duration="1000"></ion-spinner>
</ng-template>
</ion-content>
<ion-alert
  *ngIf="!assignedItem && actionData"
  [isOpen]="isAlertOpen"
  (didDismiss)="isAlertOpen=false"
  header="آیا اطمینان دارید؟"
  [message]="'تاریخ: ' + actionData.idrDateOfService + ' | زمان: ' + actionData.idrTimeOfService"
  [buttons]="alertButtons"
></ion-alert>
<ion-toast [isOpen]="showToastError" (didDismiss)="showToastError = false" color="dark" [message]="errorMessage" [duration]="5000"></ion-toast>
