.hero-section{
    background-color: var(--ion-color-primary);
}
.welcome{
    padding: 28px 0 16px 0;
}
ion-thumbnail{
    --size: 120px;
    margin: 0 auto;
}
.dome{
    height: 28px;
    border-radius: 28px 28px 0 0;
    background-color: #cacaca;
}