<ion-content color="primary">
  <div class="container">
    <ion-img src="./assets/images/banner.png" alt="branding banner">
    </ion-img>
    <ion-text class="ion-text-center" color="light">
      <h4 class="fw-bold"><ion-text color="warning">N</ion-text>ANO<ion-text color="warning">T</ion-text>IME <ion-text color="warning">360</ion-text></h4>
    </ion-text>
    <ion-text class="ion-text-center" color="light">
      <h6 class="fw-light">Time Attendance Softwarw</h6>
    </ion-text>
    <ion-button color="light" expand="block">همین حالا شروع کن</ion-button>
  </div>
</ion-content>
