<app-segment [segment]="segment" [(ngModel)]="segmentValue" (ngModelChange)="segmentChanged()"></app-segment>
  
<ion-content>
  <ion-card class="ion-no-margin">
    <ion-card-content class="segment-body">

      <form [formGroup]="scoreForm" (ngSubmit)="submit()" autocomplete="off">

        <div class="segment-body-item description" [ngClass]="{'segment-active': segmentValue == '1'}">
          <ion-label class="fw-bold">نتیجه کار</ion-label>
          <ion-list>
            <ion-radio-group formControlName="ResultOfService">
              <ion-item>
                <ion-radio value="done" justify="start" labelPlacement="end">انجام شدن</ion-radio>
              </ion-item>
              <ion-item>
                <ion-radio value="notDone" justify="start" labelPlacement="end">انجام نشدن</ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio value="incomplete" justify="start" labelPlacement="end">ناقص انجام شدن</ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-text class="ion-text-center">
              <p>برای بررسی بهتر شرح کوتاهی از فعالیت خود ذکر کنید.
                ( اعم از انجام شدن، انجام نشدن یا ناقص شدن)</p>
          </ion-text>
          <ion-label class="fw-bold ion-margin-top">شرح فعالیت</ion-label>
          <ion-textarea
            [autoGrow]="true"
            formControlName="DescOfService"
          >
          </ion-textarea>
        </div>
    
        <div class="segment-body-item points" [ngClass]="{'segment-active': segmentValue == '2'}">
          <ion-text class="ion-text-center">
            <p>پس از پایان پروژه براساس دیدگاه خود به هریک
              از موارد زیر امتیاز دهید.</p>
          </ion-text>
          <div class="ion-text-center star-rating-field">
            <ion-label class="fw-bold">نتیجه کار</ion-label>
            <app-star-rating formControlName="servicerPointOfService"></app-star-rating>
          </div>
          <div class="ion-text-center star-rating-field">
            <ion-label class="fw-bold">آموزش کاربری</ion-label>
            <app-star-rating formControlName="servicerPointOfClientLearning"></app-star-rating>
          </div>
          <div class="ion-text-center star-rating-field">
            <ion-label class="fw-bold">رضایت مشتری</ion-label>
            <app-star-rating formControlName="servicerPointOfClientSatisfy"></app-star-rating>
          </div>
        </div>

        <div class="segment-body-item" [ngClass]="{'segment-active': segmentValue == '3'}">
          <app-score-upload-image formControlName="pImage"></app-score-upload-image>
          <ion-button (click)="printCurrentPosition()" expand="block" *ngIf="!scoreForm.controls.SrrPlaceOfEndingInstall.value" [ngClass]="{'loading': showSpinnerRetryLoc}" fill="clear" class="retry-location ion-no-margin ion-margin-top has-spinner">
            <ion-spinner name="dots" color="primary" duration="1000"></ion-spinner>
            <span>موقعیت مکانی شما در دسترس نمی باشد لطفا دوباره امتحان کنید</span>
          </ion-button>

          <ion-button type="submit" class="ion-no-margin ion-margin-top has-spinner" [ngClass]="{'loading': showSpinner}" type="submit" color="primary" expand="block" [disabled]="scoreForm.invalid || showSpinner">
            <ion-spinner name="dots" color="light" duration="1000"></ion-spinner>
            <span>تاییدیه نهایی</span>
          </ion-button>
        </div>

      </form>

    </ion-card-content>  
  </ion-card>
</ion-content>
<ion-toast [isOpen]="showToastMessage" (didDismiss)="showToastMessage = false" color="dark" [message]="toastMessage" [duration]="5000"></ion-toast>

