<ion-content>
  <div class="tabs-inner">
    <div class="hero-section">
      <div class="welcome">
        <ion-thumbnail>
          <img alt="avatar icon" src="./assets/icon/avatar.svg" />
        </ion-thumbnail>
        <ion-text color="light" class="ion-text-center">
          <h6 class="ion-no-margin ion-margin-top">خوش آمدید <ion-text color="warning" class="fw-bold">
            <ng-container *ngTemplateOutlet="nameTemplate; context:{$implicit: (currentUser$ | async)!.Value}"></ng-container>
            <ng-template #nameTemplate let-admin>
              {{ admin.SrName + ' ' + admin.SrFamil }}
            </ng-template>
          </ion-text></h6>
        </ion-text>
      </div>
  
      <div class="dome"></div>
    </div>
  
    <div class="page-container">
      <ion-router-outlet></ion-router-outlet> 
    </div>
  </div>
</ion-content>

<ion-tab-bar class="ion-justify-content-between" slot="bottom">
  <ion-tab-button disabled>
    <i aria-hidden="true" class="nanotech-icon nanotech-icon-forward"></i>
  </ion-tab-button>
  
  <!-- backward-forward-back -->
  <ion-tab-button class="jewel-style" [routerLink]="['/tabs', 'home']" routerLinkActive="tab-selected" routerDirection="root">
    <i aria-hidden="true" class="nanotech-icon nanotech-icon-home"></i>
  </ion-tab-button>
  
  <ion-tab-button (click)="back()">
    <i aria-hidden="true" class="nanotech-icon nanotech-icon-back"></i>
  </ion-tab-button>
</ion-tab-bar>