.stars {
    display: flex;
    svg {
        margin: 0 2px 0 0;
        width: 22px;
        height: 22px;
        cursor: pointer
    }
}

.stars svg:hover path, .stars svg:hover~svg path, .stars .active path, .stars .active~svg path {
    fill: var(--ion-color-warning);
}