.stars {
    display: inline-flex;
    svg {
        display: block;
        margin: 0 3px;
        width: 24px;
        height: 24px;
        cursor: pointer
    }
}
.stars svg:hover path, .stars svg:hover~svg path, .stars .active path, .stars .active~svg path {
    fill: var(--ion-color-warning);
}