ion-content {
    --background: var(--ion-color-light-shade);
    --padding-bottom: 16px;
    --padding-start: 32px;
    --padding-end: 32px;
}
ion-spinner {
    margin: 0 auto;
    display: block;
}
.content-heading {
    margin-top: 0;
    margin-bottom: 24px;
}
.card-heading {
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 11px;
}
.empty-message {
    font-size: 14px;
    margin: 0;
}
ion-card {
    &:not(:last-of-type) {
        margin: 0 0 16px 0;
    }
    &:last-of-type {
        margin: 0 0 32px 0;
    }
}
ion-card-content {
    font-size: 13px;
    color: #2d2d2d;
    margin-bottom: 3px;
    padding: 0 16px;
}
.nanotech-icon {
    margin-left: 6px;
}
.rect-bg {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    border: 1px solid var(--ion-color-primary-shade);
    font-size: 13px;
    font-weight: 400;
    padding: 6px 10px;
    border-radius: 5px;
}