<ion-content>
  <ion-refresher slot="fixed" #refresher (ionRefresh)="handleRefresh()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="items as list;else loadingTemplate">

      <ng-container *ngIf="list.length;else emptyTableTemplate">
    
        <ion-card *ngFor="let item of list; let index" [routerLink]="['/tabs', 'single-action', item.idrRid]">
          <ion-card-header color="primary" class="ion-no-padding">
            <ion-text class="ion-text-center">
              <h6 class="fw-bold card-heading">
                {{item.idrClientName}}
              </h6>
            </ion-text>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-item lines="none" button detail="false">
              <ion-thumbnail slot="start">
                <img alt="device icon" src="./assets/icon/device-alt.svg" />
              </ion-thumbnail>
              <ion-label>
                <ion-row class="ion-nowrap">
                  <ion-col>
                    <i class="nanotech-icon"></i>
                    <span>
                      <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                      {{item.idrDateOfService}}
                    </span>
                  </ion-col>
                  <ion-col>
                    <i class="nanotech-icon"></i>
                    <span>
                      <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                      {{item.idrTimeOfService}}
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row class="ion-nowrap">
                  <ion-col>
                    <i class="nanotech-icon"></i>
                    <span>
                      <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                      نصب و آموزش
                    </span>
                  </ion-col>
                  <ion-col>
                    <i class="nanotech-icon"></i>
                    <span>
                      <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                      دانشگاه اصفهان
                    </span>
                  </ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>

      </ng-container>

  </ng-container>

  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-toast [isOpen]="showToastError" (didDismiss)="showToastError = false" color="dark" message="خطایی رخ داد لطفا دوباره امتحان کنید." [duration]="5000"></ion-toast>
<ng-template #loadingTemplate>
  <ion-spinner name="circles" color="primary" duration="1000"></ion-spinner>
</ng-template>

<ng-template #emptyTableTemplate>
  <ion-text class="ion-text-center" color="dark">
      <h6 class="empty-message">جدول خالی است!</h6>
  </ion-text>
</ng-template>
