<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header color="primary" class="ion-no-padding">
      <ion-text class="ion-text-center">
        <h6 class="fw-bold">
          احمد احمدیان
        </h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" button detail="false">
        <ion-thumbnail slot="start">
          <img alt="device icon" src="./assets/icon/device-alt.svg" />
        </ion-thumbnail>
        <ion-label>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/10
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/12
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                نصب و آموزش
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                دانشگاه اصفهان
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" class="ion-no-padding">
      <ion-text class="ion-text-center">
        <h6 class="fw-bold">
          احمد احمدیان
        </h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" button detail="false">
        <ion-thumbnail slot="start">
          <img alt="device icon" src="./assets/icon/device-alt.svg" />
        </ion-thumbnail>
        <ion-label>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/10
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/12
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                نصب و آموزش
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                دانشگاه اصفهان
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" class="ion-no-padding">
      <ion-text class="ion-text-center">
        <h6 class="fw-bold">
          احمد احمدیان
        </h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" button detail="false">
        <ion-thumbnail slot="start">
          <img alt="device icon" src="./assets/icon/device-alt.svg" />
        </ion-thumbnail>
        <ion-label>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/10
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/12
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                نصب و آموزش
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                دانشگاه اصفهان
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" class="ion-no-padding">
      <ion-text class="ion-text-center">
        <h6 class="fw-bold">
          احمد احمدیان
        </h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" button detail="false">
        <ion-thumbnail slot="start">
          <img alt="device icon" src="./assets/icon/device-alt.svg" />
        </ion-thumbnail>
        <ion-label>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/10
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/12
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                نصب و آموزش
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                دانشگاه اصفهان
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" class="ion-no-padding">
      <ion-text class="ion-text-center">
        <h6 class="fw-bold">
          احمد احمدیان
        </h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" button detail="false">
        <ion-thumbnail slot="start">
          <img alt="device icon" src="./assets/icon/device-alt.svg" />
        </ion-thumbnail>
        <ion-label>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/10
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/12
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                نصب و آموزش
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                دانشگاه اصفهان
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" class="ion-no-padding">
      <ion-text class="ion-text-center">
        <h6 class="fw-bold">
          احمد احمدیان
        </h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" button detail="false">
        <ion-thumbnail slot="start">
          <img alt="device icon" src="./assets/icon/device-alt.svg" />
        </ion-thumbnail>
        <ion-label>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/10
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/12
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                نصب و آموزش
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                دانشگاه اصفهان
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" class="ion-no-padding">
      <ion-text class="ion-text-center">
        <h6 class="fw-bold">
          احمد احمدیان
        </h6>
      </ion-text>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-item lines="none" button detail="false">
        <ion-thumbnail slot="start">
          <img alt="device icon" src="./assets/icon/device-alt.svg" />
        </ion-thumbnail>
        <ion-label>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/10
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                1401/09/12
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="ion-nowrap">
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                نصب و آموزش
              </span>
            </ion-col>
            <ion-col>
              <i class="nanotech-icon"></i>
              <span>
                <i class="nanotech-icon nanotech-icon-tick fw-bold"></i>
                دانشگاه اصفهان
              </span>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
