<ion-content>
  <ion-text>
    <p class="ion-no-margin">جهت گزارشگیری و انجام امور یکی از گزینه های زیر را انتخاب نمایید:</p>
  </ion-text>
  
<div class="menu-container">
  <ion-card>
    <ion-item button lines="none" class="text-xs" [routerLink]="['tabs', 'actions']" routerDirection="forward">
      <ion-thumbnail slot="start" class="ion-margin-vertical">
        <img src="./assets/icon/device.svg" alt="device icon">
      </ion-thumbnail>
      <ion-label>لیست نصب های اختصاص داده شده</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item button lines="none" class="text-xs" [routerLink]="['tabs', 'monthly-report']" routerDirection="forward">
        <ion-thumbnail slot="start" class="ion-margin-vertical">
          <img src="./assets/icon/book.svg" alt="book icon">
        </ion-thumbnail>
        <ion-label>گزارش عملکرد ماهانه</ion-label>
      </ion-item>
  </ion-card>
  <ion-button fill="clear" color="primary" (click)="logout()">خروج از حساب</ion-button>
</div>

<p [routerLink]="['tabs', 'score']">score</p>
<p routerLink="/login">login</p>
<p routerLink="/start">start</p>


</ion-content>
