<ion-content>
  <ion-text>
    <p class="content-heading">جهت گزارشگیری و انجام امور یکی از گزینه های زیر را انتخاب نمایید:</p>
  </ion-text>
  
<div class="menu-container">

  <ion-card>
    <ion-item button lines="none" class="text-xs" [routerLink]="['/tabs', 'actions', 'today']" routerDirection="forward">
      <ion-thumbnail slot="start" class="ion-margin-vertical">
        <img src="./assets/icon/device.svg" alt="device icon">
      </ion-thumbnail>
      <ion-label>لیست نصب های امروز</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item button lines="none" class="text-xs" [routerLink]="['/tabs', 'actions']" routerDirection="forward">
      <ion-thumbnail slot="start" class="ion-margin-vertical">
        <img src="./assets/icon/device.svg" alt="device icon">
      </ion-thumbnail>
      <ion-label>لیست نصب های اختصاص داده شده</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
      <ion-item button lines="none" class="text-xs" [routerLink]="['/tabs', 'monthly-report']" routerDirection="forward">
        <ion-thumbnail slot="start" class="ion-margin-vertical">
          <img src="./assets/icon/book.svg" alt="book icon">
        </ion-thumbnail>
        <ion-label>گزارش عملکرد ماهانه</ion-label>
      </ion-item>
  </ion-card>
  <ion-button fill="clear" color="primary" class="ion-no-margin" (click)="logout()">
    خروج از حساب
  </ion-button>
</div>
</ion-content>
<ion-toast [isOpen]="showToastError" (didDismiss)="showToastError = false" color="dark" message="خطایی رخ داد لطفا دوباره امتحان کنید." [duration]="5000"></ion-toast>
