ion-content {
  --background: var(--ion-color-light-shade);
  --padding-bottom: 16px;
  --padding-start: 32px;
  --padding-end: 32px;
}
.content-heading {
  font-size: 13px;
}
.menu-container {
  margin-top: 32px;
}
ion-card {
  margin: 0 0 32px 0;
  ion-thumbnail {
    --size: 34px;
  }
}