ion-content{
  --background: #cacaca;
  --padding-bottom: 16px;
  --padding-start: 32px;
  --padding-end: 32px;
}
ion-text{
  --color: #373737;
  font-size: 13px;
}
.menu-container{
  margin-top: 32px;
}
ion-card{
  margin: 0 0 32px 0;
  ion-thumbnail{
    --size: 34px;
  }
}